<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="9.1.1390" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="5.1.316" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="4.0.457" targetFramework="net452" />
</packages>